[class*="_Display_FCS"] {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

[class*="_Display_FRC"] {
    display: flex;
    flex-direction: row;
    align-items: center;
}

