.Header-Image {
    height: 200px;
    border-radius: 50%;
    margin-left: 80px;
    width: 200px;
}

.Header {
    color: #d6f1eb;
    border-top: 10px solid #5C6B73;
}

.Wrapper-Header {
    margin-top: 0px;
    padding-top: 15px;
}

.ListItem {
    list-style-type: none;
}

.Header-List {
    margin-top: 0px;
    margin-left: 0px;
    padding-left: 0px;
    font-size: 40px;
    padding-top: 0px;
    margin-bottom: 0px;
}

.Header-ListItem {
    padding-left: 20px;
}

.Link {
    color: grey;
    text-shadow: 1px 1px 2px #d6f1eb;
}

.Link:hover {
    color: #22333B;
    transition: 1s linear;
}

.Header-Text {
    margin-left: 15px;
    margin-top: 0px;
    font-size: 50px;
    font-weight: bold;
    padding-top: 0px;
    margin-bottom: 0px;
    text-shadow: 1px 1px 2px #d6f1eb;
}

.Text {
    color: #5f5c5c;
    font-family: 'PT Sans', sans-serif;
}

.Subtitle {
    color: gray;
    font-family: 'PT Sans', sans-serif;
}

.Header-SubTitle {
    margin-top: 0px;
    margin-left: 15px;
    margin-bottom: 0px;
    font-size: 40px;
    font-weight: bold;
    text-shadow: 1px 1px 2px #d6f1eb;
}

.Header-Title {
    margin-top: 0px;
    padding-top: 0px;
}

.Header-Button {
    position: relative;
    left: 600px;
    bottom: 10px;
    width: 150px;
    height: 40px;
    text-align: center;
    box-shadow: none;
    text-transform: capitalize;
    border: none;
}

.Button{
    background-color: #52C600;
}

.Button-Icon {
    color: white;
    margin-right: 5px;
    font-size: 20px;
}

.Button-Text{
    color: white;
    font-weight: bold;
    font-size: 15px;
}

